body {
    margin: 0;
    padding: 0;
    background-image: url('/images/lj-index-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.shadow-custom {
    box-shadow: 0.3rem 0.3rem 1rem black;
    background-color: rgba(50, 50, 50, 0.80);
}